* {
  box-sizing: border-box;
}
body {
  background: #253238;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

h1 {
  color: white;
  font-size: 3em;
}
.whale {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &-containers {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 60px 60px;
    grid-template-rows: 60px 60px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
  }
  &-container {
    background: #25b8ec;
    width: 60px;
    height: 60px;
    color: #253238;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    &-stripe {
      width: 4px;
      height: 100%;
      background: #394d56;
    }
    &:nth-child(1) {
      background: #253238;
    }
    &:nth-child(2) {
      background: #253238;
    }
    &:nth-child(3) {
      background: #253238;
    }
    &:nth-child(4) {
      border: 5px solid #394d56;
    }
    &:nth-child(5) {
      background: #253238;
    }
    &:nth-child(6) {
      background: #253238;
    }
    &:nth-child(7) {
      border: 5px solid #394d56;
      background: #08a8d8;
    }
    &:nth-child(8) {
      border: 5px solid #394d56;
    }
    &:nth-child(9) {
      border: 5px solid #394d56;
      background: #08a8d8;
    }
    &:nth-child(10) {
      background: #253238;
    }
    &:nth-child(11) {
      border: 5px solid #394d56;
      background: #08a8d8;
    }
    &:nth-child(12) {
      border: 5px solid #394d56;
    }
    &:nth-child(13) {
      border: 5px solid #394d56;
      background: #08a8d8;
    }
    &:nth-child(14) {
      border: 5px solid #394d56;
    }
    &:nth-child(15) {
      border: 5px solid #394d56;
      background: #08a8d8;
    }
  }
  &-body {
    width: 420px;
    height: 200px;
    background: #23b9ee;
    border-radius: 60% 0% 90% 90% / 0% 0% 150% 150%;
    position: relative;
    &-eye {
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: white;
      top: 35%;
      left: 35%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-eyeinner {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #394d56;
      display: flex;
      justify-content: flex-end;
    }
    &-eyegloss {
      width: 13px;
      height: 13px;
      background: white;
      border-radius: 50%;
    }
    &-mouth {
      clip-path: polygon(
        148px 195px,
        134px 192px,
        119px 187px,
        102px 180px,
        91px 175px,
        78px 167px,
        66px 159px,
        53px 148px,
        38px 131px,
        23px 109px,
        37px 115px,
        49px 119px,
        60px 122px,
        70px 123px,
        81px 124px,
        91px 124px,
        100px 123px,
        110px 123px,
        120px 122px,
        130px 119px,
        132px 133px,
        135px 142px,
        138px 151px,
        141px 160px,
        146px 169px,
        151px 176px,
        157px 184px,
        165px 191px,
        175px 198px
      );
      background: white;
      width: 100%;
      height: 100%;
    }
  }
  &-smile {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #394d56;
    top: 0;
    left: 0;
    clip-path: polygon(
      18px 101px,
      38px 111px,
      51px 115px,
      63px 118px,
      76px 121px,
      91px 122px,
      104px 120px,
      117px 118px,
      128px 114px,
      130px 119px,
      119px 123px,
      105px 125px,
      91px 127px,
      75px 126px,
      62px 123px,
      49px 120px,
      36px 115px,
      23px 110px
    );
  }
  &-tail {
    position: absolute;
    width: 355px;
    height: 253px;
    background: #23b9ee;
    opacity: 1;
    top: -103px;
    right: -290px;
    clip-path: polygon(
      2px 104px,
      38px 104px,
      61px 103px,
      71px 102px,
      81px 99px,
      90px 96px,
      98px 91px,
      105px 85px,
      126px 109px,
      117px 113px,
      108px 116px,
      100px 121px,
      92px 127px,
      84px 133px,
      77px 141px,
      71px 149px,
      65px 159px,
      61px 170px,
      57px 184px,
      38px 212px,
      24px 233px,
      0px 256px
    );
  }
  &-tailend1 {
    position: absolute;
    width: 355px;
    height: 253px;
    background: #23b9ee;
    top: -103px;
    right: -290px;
    clip-path: ellipse(24px 48px at 28.75% 27.25%);
  }
  &-tailend2 {
    position: absolute;
    width: 355px;
    height: 253px;
    background: #23b9ee;
    top: -103px;
    right: -290px;
    clip-path: ellipse(46px 24px at 37.75% 37.15%);
  }
}
